/* You can add global styles to this file, and also import other style files */
@import "~../node_modules/bootstrap/dist/css/bootstrap.css";

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"');
@import url('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"');

body {
  padding: 0;
  margin: 0;
  background: #eee;
  font-family: "Open Sans", sans-serif;
}
.bg-light {
  background: #fff !important;
  padding: 20px;
  box-shadow: 1px 2px 4px 1px #ccc;
}
.searchBlock span {
  position: relative;
}
.searchBlock span i {
  position: absolute;
  top: 10px;
  left: 17px;
  color: #455;
}
